parameters:
	checkGenericClassInNonGenericObjectType: false
	level: max
	paths:
		- Src

	ignoreErrors:
		-
			path: Src/Container.php
			message: '#^Parameter \#1 \$with of method TheWebSolver\\Codegarage\\Lib\\Container\\Container\:\:build\(\) expects class\-string\|Closure, Closure\|string given\.$#'
		-
			path: Src/Helper/Unwrap.php
			message: '#^Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class\-string\<T of object\>\|T of object, string given\.$#'
