parameters:
	level: max
	paths:
		- Src

	ignoreErrors:
		-
			identifier: missingType.generics
		-
			identifier: argument.type
			paths:
				- Src/Helper/MethodResolver.php
				- Src/Helper/Unwrap.php
				- Src/Traits/ListenerCompiler.php
				- Src/Traits/StackCompiler.php
		-
			path: Src/Event/BeforeBuildEvent.php
			message: '#^Possibly invalid array key type object\|string\.$#'
